.container {
    padding: 0 5rem;
}

.tryIt {
    position: fixed;
    bottom: 0;
    left: 80px;
    transition: ease-in-out 1s;
}

@media (max-width: 600px) {
    .container {
      padding: 0 2rem;
    }
}