html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cabin", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff7e1d;
  --secondary-color: #f5f2ec;
}